/* app.sass */
@media only screen  and (min-width : 769px) {

  .mobile {
    display: none;
  }
  
  .desktop {
    display: block;
  }

  header {
    $headersize: 22px;
    .alert {
      .left {
        left: 100px;
      }
      .right{
        right: 100px;
      }
    }
    .content {
      padding: 18px 12px;     
      .left{
        height: $headersize;
        line-height: $headersize;        
      }
      .logo{
        text-align: left;        
        margin-left: 100px;
        img{
          margin: initial;
          height: $headersize;
        }
      }
      .center{
        display: block;
        ul{
          display:flex;
          flex-direction:row;
          font-size: 1.3rem;
          li{
            width: 100px;
            flex:1 1 auto;
            box-sizing: border-box;            
            span{
              transition: all .2s ease-in;
              border-bottom: 1px solid transparent;
              cursor: pointer;
              &:hover{
                border-color: $color-black;
              }
            }
          }
        }
      }
      .right{
        height: $headersize;
        line-height: $headersize;
        margin-right: 100px;
      }
    }
  }

  main {
    section{      
      .content{
        .content-main{
          ul{
            li{
              .feature{
                img{
                  margin-left: 25%;
                }
                .desc{
                  margin-right: 25%;
                  box-shadow: none;
                }
              }
            }
          }
          .swiper-button-prev{
            left: 40px;
          }
          .swiper-button-next{
            right: 40px;
          }
        }
        .content-tags{
          max-width: 1280px;
          margin: 0 auto;
          margin-top: 50px;
          .ranking{
            ul {
              display: flex;
              li {
                flex: 1;
                height: 200px;                
                .tag{
                  display: block;
                  text-align: center;
                  .thumb{
                    img{
                      width: 100px;
                      height: 100px;
                      border-radius: 50px;              
                    }
                  }
                  .rank{
                    width: initial;
                    margin-top: 10px;
                    line-height: 40px;                    
                  }
                  .desc{
                    text-align: center;
                    line-height: 20px;
                  }
                }
              }
            }
          }
        }
        .content-sub{
          max-width: 1280px;
          margin: 0 auto;
          margin-top: 50px;
        }
        .content-sale{
          max-width: 1280px;
          margin: 0 auto;
          margin-top: 50px;
        }
      }
    }
  }

  footer {
    padding: 18px 100px;    
  }
}

