/* app.sass */
@import '../common/_reset';
@import '../common/_fonts';
@import '../common/_common';

@import '../sprite/css/svg';

$color-black : #222;
$color-red: rgb(226, 38, 77);
$color-blue: #0077ff;

html {
  width: 100%;
  height: 100%;  
  font-family: "Noto Sans KR";
  font-size: 10px;
  font-weight: 300;
}

button{
  background-color: transparent;
  border: none;
  outline: none;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

#main{
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
  header {
    position: relative;
    min-width: 320px;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    z-index: 999;
    .alert{
      position: relative;
      height: 40px;
      line-height: 40px;
      background-color: #222;
      text-align: center;
      font-size: 1.2rem;
      color: #fff;
      .left{
        position: absolute;
        top: 15px;
        left: 10px;
        transition: all .2s ease-in;
        &:hover{
          color: #666;
        }
      }
      .list{
        display: flex;
        transition: all .2s ease-in;
        li{
          min-width: 100%;
        }
        &.step2{
          transform: translate(-100%);
        }
        &.step3{
          transform: translate(-200%);
        }
      }
      .right{
        position: absolute;
        top: 15px;
        right: 10px;
        transition: all .2s ease-in;
        &:hover{
          color: #666;
        }
      }
    }
    .content {
      display: flex;
      padding: 18px 12px;
      text-align: center;      
      .left{
        flex: 1;
        text-align: left;
        height: 42px;
        line-height: 42px;
        transition: all .2s ease-in;
        i{
          font-size: 1.6rem;
          color: #999;
        }
      }
      .logo{
        flex: 1;
        transition: all .2s ease-in;
        img{
          height: 42px;
          margin: 0 auto;
        }
      }
      .center{
        display: none;
      }
      .right{
        flex: 1;
        text-align: right;
        height: 42px;
        line-height: 42px;
        transition: all .2s ease-in;
        i{
          font-size: 1.6rem;
          color: #999;
          margin-left: 5px;
        }
      }
    }
  }

  main {  
    section {
      position: relative;
      min-width: 320px;
      .content{
        margin-bottom: 150px;
        .content-main{
          ul{
            // display: flex;
            // overflow-x: scroll;
            // overflow-y: hidden;
            li{
              // flex: 1;
              //min-width: 100vw;
              .feature{
                width: 100%;
                position: relative;
                background-color: #fff;
                height: 500px;
                img{
                  width: 100%;
                  min-width: 320px;
                  max-width: 400px;
                  height: auto;
                  transition: all .2s ease-in;
                }
                .desc{
                  position: absolute;
                  right: 0px;
                  bottom: 30px;
                  background-color: #fff;
                  padding: 20px 20px;
                  box-sizing: border-box;
                  transition: all .2s ease-in;
                  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
                  p{
                    margin-bottom: 10px;
                    font-family: "Apple SD Gothic Neo";
                    font-size: 2.6rem;
                    &.sub{                      
                      display: inline-block;
                      width: 80%;
                      font-size: 1.4rem;
                      font-weight: 300;
                      font-family: initial;
                    }
                  }
                  button {
                    display: inline-block;
                    padding: 0px;
                    text-align: left;
                    box-sizing: border-box;
                    border-bottom: 1px solid #fff;
                    font-size: 14px;
                    transition: all .2s ease-in;
                    &:hover{
                      border-bottom: 1px solid #ccc;
                    }
                  }
                  .rect{
                    position: absolute;
                    top: 10px;
                    left: -10px;
                    display: inline-block;
                    width: 30px;
                    height: 5px;
                    background-color: $color-black;
                  }
                }
              }
            }
          }
          .swiper-button-prev:after,.swiper-button-next:after{
            color: $color-black;
            opacity: .2;
          }
          .pagination{
            height: 50px;
            line-height: 50px;
            .swiper-pagination{
              width: 100%;
            margin: 0 auto;
            .swiper-pagination-bullet{
                width: 8px;
                height: 8px;
                margin-right: 5px;
                &.swiper-pagination-bullet-active{
                  background-color: $color-black !important;
                }
              }
            }
          }
        }
        .content-tags{
          margin-top: 50px;
          .title{
            position: relative;
            padding: 12px;
            font-size: 2.2rem;
            font-family: "Apple SD Gothic Neo";
            .sub{
              font-size: 11px;
              color: #ccc;
              i{
                margin-right: 2px;
              }     
            }
            .more{
              position: absolute;
              top: 14px;
              right: 12px;
              padding: 4px 15px;
              font-size: 1.2rem;
              color: #ccc;
              border: 1px solid #ccc;
              cursor: pointer;
              transition: background-color .2s ease-in;
              &:hover{
                background-color: $color-black;
                border-color: $color-black;
                color: #fff;
              }
            };
          }
          .ranking{
            ul {
              padding: 24px 12px;
              font-size: 1.2rem;
              li {
                height: 50px;
                .tag{
                  display: flex;
                  text-align: center;
                  .thumb{
                    line-height: 40px;
                    img{
                      width: 40px;
                      height: 40px;
                      border-radius: 20px;
                      vertical-align: middle;
                      box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
                    }
                  }
                  .rank{
                    width: 50px;
                    line-height: 50px;
                    font-size: 1.4rem;
                    font-family: "Apple SD Gothic Neo";
                  }
                  .desc{
                    text-align: left;
                    line-height: 25px;
                    .name{
                      font-family: "Apple SD Gothic Neo";
                      font-size: 1.4rem;
                    }
                    i{
                      margin-left: 5px;
                      &.up {
                          color: $color-blue;
                          animation: slidedown 1.5s infinite;
                      }
                      &.down {
                          color: $color-red;
                          animation: slideup 1.5s infinite;
                      }
                      @keyframes slideup {
                        0% {
                            transform: translate3d(0px,-3px,0px);
                            opacity: 0;
                        }      
                        50% {                                    
                            opacity: 1;
                        }                                
                        100% {
                            transform: translate3d(0px,3px,0px);
                            opacity: 0;
                        }
                      }
                      @keyframes slidedown {
                          0% {
                              transform: translate3d(0px,3px,0px);
                              opacity: 0;
                          }          
                          50% {                                    
                              opacity: 1;
                          }                                
                          100% {
                              transform: translate3d(0px,-3px,0px);
                              opacity: 0;
                          }
                      }                   
                    }

                  }
                }
              }
            }
          }
        }
        .content-sub{
          margin-top: 50px;
          .title{
            position: relative;
            padding: 12px;
            font-size: 2.2rem;
            font-family: "Apple SD Gothic Neo";
            .sub{
              font-size: 11px;
              color: #ccc;
              i{
                margin-right: 2px;
              }     
            }
            .more{
              position: absolute;
              top: 14px;
              right: 12px;
              padding: 4px 15px;
              font-size: 1.2rem;
              color: #ccc;
              border: 1px solid #ccc;
              cursor: pointer;
              transition: background-color .2s ease-in;
              &:hover{
                background-color: $color-black;
                border-color: $color-black;
                color: #fff;
              }
            };
          }
          .feeds{
            width: 100%;
            overflow: hidden;
            .clearfix:after {
              content:"";
              display:table;
              clear:both;
            }           
            .scroller{              
              ul {
                li {
                  float: left; 
                  box-sizing: border-box;
                  max-width: 180px;
                  .feed{
                    padding: 30px 20px;
                    .thumbnail{
                      width: 160px;
                      height: 200px;
                      overflow: hidden;
                      img{   
                        width: 100%;
                      }
                    }
                    .desc{
                      margin-top: 10px;
                      .designer{
                        font-family: "Apple SD Gothic Neo";
                        font-size: 1.4rem;
                        // display: inline-block;
                        // font-size: 12px;
                        // padding: 1px 10px;
                        // border: 1px solid #333;
                      }
                      .name{
                        margin-top: 5px;
                        max-width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: 1.2rem;
                        line-height: 133%;
                      }
                      .price {                    
                        line-height: 23px;
                        font-size: 1.2rem;
                        color: $color-red;
                        span{
                          color: $color-black;
                          text-decoration-line: line-through;
                        }
                      }
                      .interactive{
                        margin-top: 5px;
                        span{
                          font-size: 12px;
                          margin-right: 5px;
                          i{
                            margin-right: 2px;
                            &.fa-heart {
                              color: $color-red;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .content-sale{
          margin-top: 50px;
          .title{
            position: relative;
            padding: 12px;
            font-size: 2.2rem;
            font-family: "Apple SD Gothic Neo";
            .sub{
              font-size: 11px;
              color: #ccc;
              i{
                margin-right: 2px;
              }     
            }
            .more{
              position: absolute;
              top: 14px;
              right: 12px;
              padding: 4px 15px;
              font-size: 1.2rem;
              color: #ccc;
              border: 1px solid #ccc;
              cursor: pointer;
              transition: background-color .2s ease-in;
              &:hover{
                background-color: $color-black;
                border-color: $color-black;
                color: #fff;
              }
            };
          }
          .mails{
            ul {
              font-family: "Apple SD Gothic Neo";
              padding: 24px 12px;
              li {
                border-left: 2px solid #ccc;
                border-bottom: 1px solid #ccc;
                box-sizing: border-box;
                padding: 10px 15px;
                &:last-child{
                  border-bottom: none;
                }
                transition: all .2s ease-in;
                &:hover{
                  background-color: #eee;
                }
                .mail{
                  position: relative;
                  .subject{
                    margin-bottom: 5px;
                    font-size: 2.4rem;
                  }
                  .content{
                    margin-bottom: 5px;
                    font-size: 1.6rem;
                  }
                  .date{
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    margin-top: -6px;
                    font-size: 1.4rem;
                  }
                }
              }
            }
          }
        }
      }
    }  
  }

  footer {    
    width: 100%;
    padding: 18px 12px;
    font-size: 12px;
    background-color: $color-black;
    transition: all .2s ease-in;
    .wrapper{
      height: 400px;
      color: #aaa;
      .logo{
        img{
          width: 100px;
        }
      }
      .policy{
        margin-top: 10px;
        padding: 5px;
        border-bottom: 1px solid #aaa;
        ul{
          li{
            margin-bottom: 5px;
            span{
              cursor: pointer;
              transition: all .2s ease-in;
              &:hover{
                border-bottom: 1px solid #aaa;
              }
            }
          }
        }
      }
      .copy{
        margin-top: 5px;
      }     
    }
  }

  @import './pc';  
}

