
/* 공통 스타일 */
#popup {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    display: table;
    font-family: "Apple SD Gothic Neo";
    font-size: 16px;
    font-weight: 500;
    .wrapper{
        display: table-cell;
        vertical-align: middle;
        .contents{
            position: relative;
            width: 85vw;
            max-width: 350px;
            box-sizing: border-box;
            margin: 0 auto;
            padding: 24px 24px 34px 24px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 10px 10px 10px rgba(0,0,0,.1);
            .top{
                font-weight: bold;
            }
            .message{
                font-size: 14px;
                margin-top: 5px;
            }
            .btns{
                position: absolute;
                top: 16px;
                right: 24px;
                margin-top: 5px;
                text-align: right;
                button {
                    width: 24px;
                    height: 24px;
                    padding: 0;
                    background-color: transparent;
                    color: #fff;
                    border: none;
                    outline: none;
                    img{
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

aside{
    display: none;
}
@media only screen  and (max-width : 768px) {
    aside{
        display: block;
        position: fixed;
        z-index: 1001;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.3);
        margin-left: -100%;
        transition: all .2s ease-in;
        &.active{
            margin-left: 0%;
        }
        .wrapper{        
            width: 100%;
            height: 100%;
            background-color: #FFF;
            padding-top: 20px;
            .title{
                font-size: 2.0rem;
                text-align: right;
                padding-right: 30px;
                color: #999;
            }
            .contents{
                padding-top: 20px;
                li{
                    height: 50px;
                    line-height: 50px;
                    padding-left: 40px;
                    box-sizing: border-box;
                    font-size: 1.3rem;                
                    div{
                        border-bottom: 1px solid #ccc;
                        position: relative;
                        padding-left: 12px;
                        span{
                            i{
                                position: absolute;
                                top: 18px;
                                right: 12px;
                                color: #999;
                            }
                        }
                    }
                }
            }
        }
    }
}